.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

}

/*    Sticky Header   */
.stickyNav {
  position: fixed;
  top: 0;
  background-color: #000000; 
}



/*    Back To Top Button   */

.backToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #206fe6;
  border: none;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}


.arrowImage{
  width:40px;
  height: 40px;
  border-radius: 50%; 
}



/*    Home    */

.StepperContainer{
  width: 100%;
  display: flex;
  font-size: 32px;
  padding-left: 20%;
  padding-right: 13%;
  padding-top: 10%;
  position: relative;
}

.stepstitle{
  padding-top: 2%;
  font-size:18px;
  opacity: 70%;
  color: #206fe6;
  padding-bottom: 8%;
}



.verticalStepper {
  font-size: 25px;
  width:10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepperItem {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white; /* Circle border color */
  background-color: transparent; /* Default background color */
  color: white; /* Circle text color */
  font-weight: bold;
  margin-bottom: 35px;
  cursor: pointer;
}

.activeStep {
  background-color: #206fe6; /* Color for the active step */
  border:2px solid #206fe6;
  color: #ffffff; /* Text color for the active step */
}

.stepContent{
  width: 80%;
  height: 50%;
  font-weight: 600;
  padding-left: 5%;

}
.stepdestitle{
  padding-bottom: 1%;
}


.step1des{ 
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 8%;

}


.createwallet{
  font-size: 16px;
  padding-bottom: 5%;
  font-weight: 400;
}

.createwallet:hover{
  font-size: 16px;
  padding-bottom: 5%;
  font-weight: 400;
  color: #206fe6;
}

.navigationButtons {
  position: absolute;
  bottom: 35px; 
  padding-left: 15%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.prevButton {
  width: 100px;
  height: 50px;
  background-color: #206fe6;
  color: #ffffff;
  font-size: 16px; 
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 20px;
}

.nextButton {
  width: 100px;
  height: 50px;
  background-color: #206fe6;
  color: #ffffff;
  font-size: 16px; 
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}



.hometext {
  width:100%;
  display: flex;
}

.homedesc{
  font-size:70px;
  font-weight: 500;
  padding-top: 10%;
  width: 60%;
  padding-left: 15%;
}

.homeimage{
  width: 40%;
  padding-top: 12%;
  padding-left: 5%;
}

.hometext2{
  font-size:20px;
  padding-top: 7px;
  padding-bottom: 10%;
  width:100%;
  padding-left: 15%;
}

.hometitle{
  font-size: 40px;
  font-weight: 500;
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

.hometitle2{
  font-size: 18px;
  font-weight: 300;
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: center;
}

.homebannerimage{
  padding-bottom: 15%;
}



/*    About Us    */


.AboutUs{
  width:100%;
  height: 300px;
  display: flex;
  text-align: center;


}

.AboutDes{
  padding-top:2%;
  text-align: justify;
  font-size: 15px;
  padding-left: 15%;
 padding-right: 15%;
 
}

.headerContainer{
  width:100%;
  display: flex;
  position: fixed;
  padding-top: 3rem;
  background-color: #000;
}

.headConnect{
  width:60%;
  padding-top: 3rem;

}

.HeaderAbout{
  padding-left: 10%;
  padding-top: 1.7rem;
  font-size:12px;
  font-weight: 50;
  width:10%;
}

.HeaderAbout:hover {
  color: #376aa9;
}
  

.HeaderStart{
  padding-top: 1.7rem;
  padding-left: 5.5%;
  font-size:12px;
  font-weight: 200;
  width:10%;
}

.HeaderStart:hover {
  color: #376aa9;
}

.HeaderCheck{
  padding-top: 1.7rem;
  padding-left: 1%;
  font-size:12px;
  font-weight: 200;
}

.HeaderCheck:hover {
  color: #376aa9;
}

.HeaderHistory{
  padding-top: 1.7rem;
  padding-left: 4%;
  font-size:12px;
  font-weight: 200;
  width:10%;
}

.HeaderHistory:hover {
  color: #376aa9;
}

.logoImage {
  float: left;
  width:10%;
  padding-top: 1rem;
  padding-left: 5%;
  width:5%;
}

.logoText {
  padding-top: 1.7rem;
  font-size:18px;
  font-weight: 600;
  width:50%;
  padding-left: 2%;


}


.logoText h5{
  font-weight: 500;
 
}

.description {

  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 100%;
  padding: 1.5rem;
  padding-left: 2%;
  padding-right: 5%;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: flex;
  grid-template-columns: repeat(4, minmax(25%, auto));
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  padding-bottom: 10%;
  justify-content: center; 
  justify-content: space-evenly; /* Adjust as needed */
}

.card {
  width: 300px; 
  height: 100px;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  padding-top:10%;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;

}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;

}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );

  }
}

.Footer{
  background-color: rgb(22, 23, 23);
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  padding-left: 2%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  width: 100%;

}



.FooterlogoImage {
  float: left;
  width:9%;
  padding-left:35px;
  padding-top: 1%;
}


.FooterlogoText {
  float: left;
  padding-top: 2%;
  font-size:17px;
  font-weight: 600;
  padding-left:35px;

  width:35%;
}

.FooterlogoText h5 {
  font-weight: 500;
}


.FooterGeneral{
  float: right;
  padding: 1rem;
  font-size:18px;
  font-weight: 600;
  margin-right: 50px;
}

.FooterGeneral p{
  line-height: 50px;
}

.FooterGeneral h6{
  line-height: 25px;
  font-weight: 400;
 font-size: 13px;
}

.FooterGeneral h6:hover{
  color: #376aa9;
  cursor: pointer;
}

.FooterResources{
  float: right;
  padding: 1rem;
  font-size:18px;
 
  font-weight: 600;
  margin-right: 50px;
}

.FooterResources p{
  line-height: 50px;
}

.FooterResources h6{
  line-height: 25px;
  font-weight: 400;
  font-size: 13px;
}

.FooterResources h6:hover{
  color: #376aa9;
  cursor: pointer;
}

.FooterBlock{
  float: right;
  padding: 1rem;
  font-size:18px;
  font-weight: 600;
  margin-right: 50px;
}

.FooterBlock p{
  line-height: 50px;
}

.FooterBlock h6{
  line-height: 25px;
  font-weight: 400;
  font-size: 13px;
}

.FooterBlock h6:hover{
  color: #376aa9;
  cursor: pointer;
}


.FooterMediaLogos{
  padding-top: 8%;
  padding-left:30px;
}


.customTooltip {
  position: absolute;
  transform: translateX(-50%);
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000; /* Make sure the tooltip is above other elements */
}

.About{
  width:100%;
  padding-bottom: 80px;
  padding-top: 10%;
}

.AboutText{
  float:left;
  font-size:25px;
  padding-top: 7%;
  padding-left: 15%;
  line-height: 25px;
  font-weight: 30px;
  width: 60%;
  text-align: justify;
}

.AboutTextDes{
  font-size:15px;
  padding-top: 3%;
}


 .AboutImage{
  float: right;
  padding-top: 5%;
  padding-right: 35%;
  height: 300px;
  width: 300px;
 }

.About2{
  width:100%;
  display: flex;
  padding-top: 10%;
  padding-bottom: 10%;
}

.About2TextQuotes1{
  font-size:60px;
  font-family:cursive;
  text-align: left;
  padding-left: 5%;
}

.About2TextQuotes2{
  font-size:60px;
  font-family:cursive;
  text-align: left;
  padding-left: 75%;
}

.About2TextDesc{
  font-size: 40px;
  text-align: left;
  padding-left: 15%;
}

.About2Image{
  padding-left: 3%;
  padding-right: 10%;
}

 .About2Text{
  font-size: 20px;
  text-align: right;
  width: 45%;
  padding-left: 15%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
 }



/*    About Page 5 Descriptions   */
.About5Desc{
  padding-top: 5%;
  padding-bottom: 10%;
  padding-right: 15%;
  
}

/*    About Privacy    */
.AboutPrivacy{
  width:100%;
  display: flex;
  padding-left: 18%;
  padding-bottom: 2%;
}

.privacyspace{
  width: 3%;
}

.AboutPrivacyBox{
  width:50%;
  border: 2px solid white;
  border-radius: 20px;
  padding:5%;
}

.AboutPrivacyTitle{
  font-size: 50px;
  font-weight: 600;
  padding-top: 1.5%;
  width: 80%;
  color: #376aa9;
}

.AboutPrivacyDesc{
  padding-top:10%;
}

/*    About Interoperability    */
.AboutInter{
  width:50%;
  border: 2px solid white;
  border-radius: 20px;
  padding:5%;
}

.AboutInteroperability{
  font-size: 50px;
  font-weight: 600;
  color: #376aa9;
}

.AboutInteroperabilityDesc{
  padding-top:10%;
}

/*    About Efficiency    */
.AboutEfficiency{
  width:50%;
  border: 2px solid white;
  border-radius: 20px;
  padding:5%;
  
}

.AboutEfficiencyDesc{
  padding-top:1%;
padding-top: 10%;
}

.AboutEfficiencyTitle{
  font-size: 50px;
  font-weight: 600;
  padding-top:2%;
  color: #376aa9;
  
}

/*    About Trust    */
.AboutTrust{
  width:50%;
  border: 2px solid white;
  border-radius: 20px;
  padding:5%;
}

.AboutTrustTitle{
  font-size: 50px;
  font-weight: 600;
  color: #376aa9;
}

.AboutTrustDesc{
  padding-top:1%;
  padding-top: 10%;
}

/*    About Tech    */
.AboutTechnology{
  width:82%;
  border: 2px solid white;
  margin-left: 18%;
  border-radius: 20px;
  padding:5%;

}

.AboutTechnologyDesc{
  padding-top:5%;
}

.AboutTechnologyTitle{
  font-size: 50px;
  font-weight: 600;
  color: #376aa9;

}

/* --- Form Style CSS --- */

.FormStyles{
  line-height: 40px; 
  font-size: 18px;
  padding-top: 5%;
  z-index: -1;
}

.FormContainer{
  padding-top: 10%;
  width: 75%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 8%;

}

.FormBG{
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 2px solid;

}

.Step2BG{
  width:100%;
  border-radius: 15px;
}

.FormTitle1{
  font-size:40px;
  font-weight: 600;
  padding-top: 50px;
  padding-left: 5%;
}

.FormTitle2{
  font-size:18px;
  padding-top: 2%;
  font-weight: 400;
  padding-bottom: 8%;
}

.FormTitle3{
  font-size:25px;
  font-weight: 600;
}

.Step2StyleTitle1{
  font-size:25px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 5%;
}


.Step3Title{
  font-size:25px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 5%;
}

.EncryptStyle{
  width:100%;
  display:flex;
  justify-content: space-between;
}

.Encryptlabel{
  width: 70%;
}

.encryptbuttonstyle{
  width: 25%;
}

.Encryptbutton{
  width: 100%;
  background-color: #206fe6;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.submitbuttonstyle{
width: 100%;
height: 40px;
background-color: #206fe6;
color: white;
font-size: 16px;
font-weight: 600;
cursor: pointer;
border: none;
border-radius: 10px;
}

.aftersubmitbutton{
  padding-bottom: 10%;
}

.generatekeybutton{
  width:100%;
}

.nameandage{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.formname{
  width:45%;
  z-index: 0;
}

.formage{
  width:45%;
  z-index: 0;
}


.EmailContact{
  width:100%;
  display: flex;
  justify-content: space-between;
}

.EmailStyle{
  width:45%;
}

.ContactStyle{
  width:45%;
}


/* Token Dialog Box */

.TokenDialog{
  width:300px;
  height:500px;
  font-size: 10px;
  background: #000;
  padding:20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}


.contractdetails{
  color: white;
}

/*    Check Status Page   */

.CheckBlock{
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 8%;
}

.CheckBlockTitle1{
  font-size:40px;
  padding-top: 15%;
}

.CheckBlockTitle2{
  font-size:20px;
  font-weight: 400;
  padding-bottom: 5%;
  padding-top: 15px;
}

.CheckContent{
  font-size:20px;
  font-weight: 400;
  border:2px solid white;
  border-radius: 20px;
  padding: 5%;
  width: 100%;
}

.CheckBlockNo{
  width: 100%;
}

.Gap{
  margin-bottom: 10%;
}

.CheckBlockNoTitle{
  width: 100%;
display: flex;
padding-bottom: 3%;
}

.TransTitle{
  width:30%;
}

.CheckBlockNumberField{
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: rgb(38, 39, 39);
}; 


.statusbox{
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  background-color: rgb(38, 39, 39);
}

.StatusCheckBlockNo{
  width: 100%;
  display: flex;
}
.StatusCheckBlockNoTitle{
  width: 30%;

}

/*    Send Token    */



/*    Contact Us    */
.ContactContainer{
  padding-top: 10%;
  padding-bottom: 10%;
}

.ContactFormBG{
  background-color: rgb(0, 0, 0);
  width:900px;
  height: 800px;
  border: 2px solid;
  border-radius: 15px;
  
}

.ContactFormTitle{
  padding-left: 5%;
  font-size:40px;
  font-weight: 600;
  padding-top: 50px;
}

.ContactFormStyles{
  line-height: 40px; 
  font-size: 18px;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-left: 5%;


}



.querybutton{
  padding-left: 10%;
}

.ContactMediaLogo{
  padding-top: 1%;

}


.ContactAddress{
  padding-top: 2%;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }


}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
